<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/phone.jpg" width="100"  alt="<%= name %>">
    <div class="card-body">
        <h2 class="card-text"><%= name %></h2>
      <p class="p-5"><%= price %></p>
    </div>
  </div>